@font-face {
    font-family: "Quicksand";
    src: url("../assets/quicksand/Quicksand-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../assets/quicksand/Quicksand-Bold.otf");
    font-weight: bold;
}
