// Bootstrap Overwrite
.row {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.hidden {
    display: none;
}

.dib {
    display: inline-block;
}

.clear-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m0 {
    margin: 0 !important;
}

.ma {
    margin: auto;
}

.mb-2 {
    margin-bottom: -2px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px;
}

.mt4 {
    margin-top: 4px;
}

.mt6 {
    margin-top: 6px;
}

.mt8 {
    margin-top: 8px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}
.mr4 {
    margin-right: 4px !important;
}
.mr6 {
    margin-right: 6px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}

.ml4 {
    margin-left: 4px;
}

.ml6 {
    margin-left: 6px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml-12 {
    margin-left: -12px;
}

.ms6 {
    margin: 0 6px;
}

.ms10 {
    margin: 0 10px;
}

.ms20 {
    margin: 0 20px;
}

.ps4 {
    padding: 0 4px !important;
}

.ps15 {
    padding: 0 15px !important;
}

.ps20 {
    padding: 0 20px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.p0 {
    padding: 0;
}

.p0i {
    padding: 0 !important;
}

.pr0 {
    padding-right: 0;
}

.pr10 {
    padding-right: 10px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr40 {
    padding-right: 40px;
}

.pt8 {
    padding-top: 8px;
}

.pt20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fn {
    float: none;
}

.fs8 {
    font-size: 8px;
}

.fs10 {
    font-size: 10px;
}

.fs16 {
    font-size: 16px;
}

.fs20 {
    font-size: 20px;
}

.fs28 {
    font-size: 28px;
}
.z10 {
    z-index: 10;
}

.w100p {
    width: 100%;
}
.w90p {
    width: 90%;
}

.select-small {
    width: 65px;
}

.select-medium {
    width: 90px;
}

.raleway {
    font-family: $font-Raleway
}

.light-border-top {
    border-top: 1px solid #ccc;
}

.clearfix {
    clear: both;
}

.cursor-pointer {
    cursor: pointer;
}

.vat {
    vertical-align: top;
}

.block {
    display: block;
}

.wa {
    width: auto;
}
.min1080 {
    min-width: 1080px;
}
.t0 {
    top: 0;
}
.capitalize {
    // text-transform: capitalize;
}
.fwnormal {
    font-weight: normal;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.light-grey {
    color: #888;
}
.ttn {
    text-transform: none;
}
.darkblue {
    color: $darkblue;
}
.lh25 {
    line-height: 25px;
}
.btddd {
    border-top: 1px solid #ddd;
}