html, body {
    min-height: 100%;
    background-color: #fbfbfb;
    color: #444;
    font-family: "Quicksand";
}

.app-view {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}
.spinner {
    &.loading {
        position: absolute;
        width: 100%;
        background-image: url("/images/spinner.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #aaa;
        z-index: 9000;
        opacity: 0.6;
    }
}
