html, body {
    min-height: 100%;
    background-color: #fbfbfb;
    color: #444;
}

#content {
    padding: 0 80px;
    margin: 0 auto 112px;
}

.app-view {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}
.spinner {
    &.loading {
        position: absolute;
        width: 100%;
        background-image: url("/images/spinner.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #aaa;
        z-index: 9000;
        opacity: 0.6;
    }
}

.intro {
    margin: 0 -80px;
    height: 80%;
}

ul {
    list-style: none;
    padding: 0;

    &.dropdown-menu {
        clear: both;
        position: relative;
    }
}

.profile-attrs {
    margin: 10px 0 15px;

    .attr {
        margin-bottom: 5px;
        font-size: 16px;
        
        .icon {
            color: #7d7d7d;
            display: inline-block;
            font-size: 18px;
            margin-right: 10px;
            text-align: center;
            width: 18px;
        }
    }
}

.remove-variant {
    position: relative;
    top: 2px;
    cursor: pointer;
    float: right;
    color: $error-red;

    &:hover {
        color: darken($error-red, 10%);
    }
}

.clickable-list-item {
    height: 24px;
    cursor: pointer;
}

.tab-link {
    padding: 8px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;

    &.selected {
        border: 1px solid #ccc;
        border-bottom: none;
        &:hover {
            background-color: transparent;
        }
    }
    &:hover {
        background-color: #efefef;
    }
}

.user .glyphicon-triangle-bottom {
    font-size: 8px;
    position: relative;
    top: -1px;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: $light-grey-bg;
    margin-right: 10px;
}

.tags-dropdown.select2-container.select2-container-multi .select2-choices {
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 1px;
}
.tags-dropdown.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 15px;
    padding-top: 6px;
}

.modal-header {
    min-height: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    line-height: 22px;
}
.curved-arrow {
    position: relative;
    width: 200px;
    background-color: transparent;

    &.top-arrow {
        top: 24px;
        -webkit-transform: rotate(9deg);
        -ms-transform: rotate(9deg); // IE9 only
        -o-transform: rotate(9deg);
        transform: rotate(9deg);
    }
    &.bottom-arrow {
        bottom: 32px;
        -webkit-transform: rotate(191deg);
        -ms-transform: rotate(191deg); // IE9 only
        -o-transform: rotate(191deg);
        transform: rotate(191deg);
    }
}
.account-icon {
    width: 112px;
    display: inline-block;

    &.rep img {
        width: 100px;
        display: block;
        margin: auto;
    }
    &.pitchee img {
        width: 70px;
        display: block;
        margin: auto;
        position: relative;
        right: 2px;
    }
}
.account-description {
    margin-left: 30px;
    max-width: 900px;
    vertical-align: top;
    display: inline-block;

    .glyphicon {
        font-size: 13px;
    }
}

.has-error .select2-container .select2-choice {
    border-color: $error-red;

    .select2-chosen {
        color: $error-red;
    }    
}

.select2-container .select2-choice > .select2-chosen {
    font-weight: normal;
}
.how-it-works-link {
    text-transform: none;
    font-family: $font-Open_Sans;
}
.input-group.input-with-label .form-control.contact-us-content {
    height: 300px;
}

.container {
    width: auto;
}

.about-page {
    max-width: 1090px;
    margin: auto;
}