// Colors
$white: #fff;
$black: #000;
$darkblue: #5E889E;
$lightblue: #259fd4;
$lightblue-bg: #f4f9fd;
$fb-blue: #3D5B99;

$white-text-color: #fff;
$dark-text-color: #555;

$link-blue: #259fd4;
$btn-solid_hover: #66bce1;
$link-lightblue_hover: #c1ecff;
$link-lightblue-2_hover: #5cb7df;
$link-darkblue_hover: #1791c5;

$gold: #EDCE7C;
// $gold-border: #BDA463;
$gold-border: #dbb24a;
$stone: #B4AF82;
$stone-border: #8C8861;
$wood: #81612E;
$wood-border: #674D24;
$bone: #FFFDF1;
$bone-border: #CCCAC0;
$red-clay: #B45736;
$red-clay-border: #90452B;
$mud: #48321A;
$mud-border: #392814;
$current-user-msg-blue: #aed4f4;
$current-user-msg-blue-border: #7caed8;

$btn-text_disabled: #8297a9;
$btn-bg_disabled: #aabbca;

$placeholder-grey: #acacac;

$select_hover: #6e8ca6;
$select-item_hover: #eef1f4;
$select_disabled-bg: #aabbca;
$select_disabled-text: #8297a9;

$input-border: #aabbca;

$border-lightgrey: #e6e6e6;

$checkbox-bg_normal: #259fd4;
$checkbox-bg_hover: #66bce1;
$checkbox-bg_active: #1791c5;

$error-red: #df5b5b;
$success-green: #03b872;

$facebook-color: #5c85c1;
$linkedin-color: #007bb6;
$google-color: #e85f61;

$dropdown-border: #cad5de;

$light-grey-bg: #eef1f4;
$dark-grey: #a9a9a9;

$calendar-header-bg: #e6e6e6;
$calendar-border-lightgrey: #f3f3f3;

$calendar-selected-blue: rgba(37, 159, 212, 0.5);
$booked-mtg: rgba(255, 140, 0, 0.8);
$mtg-invite: rgba(153, 255, 51, 0.8);


// Fonts
$font-Raleway: "Raleway", sans-serif;
$font-Open_Sans: "Open Sans", sans-serif;
$font-Brandon_Black: "Open Sans";
$font-Brandon_Bold: "Open Sans";

// $font-Open_Sans: helvetica;
// $font-Brandon_Black: serif;
// $font-Brandon_Bold: serif;
