.btn {
    border-radius: 8px;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 1px;
    margin-top: 15px;
    width: 100%;
    background-color: $purple;
    color: #fff;
    font-weight: bold;
}
