.btn {
    transition: all .18s ease-out;

    &:focus {
        outline: 0;
    }

    &.btn-default {
        border-width: 2px;
        border-radius: 8px;
        font-size: 18px;
        padding: 10px 46px;
        min-height: 50px;
        min-width: 170px;
        background-color: transparent;
    }

    &.btn-small {
        border-width: 2px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 35px;
        min-height: 35px;
        text-align: center;
    }

    &.btn-outline {
        background-color: transparent;

        &.btn-white {
            &.xs-border-blue {
                border-color: $link-blue;
            }

            border-color: $white;

            &:hover, &:focus {
                border-color: $link-lightblue_hover;
                color: $link-lightblue_hover !important;
            }

            &:active {
                border-color: $white;
            }
        }

        &.btn-blue {
            border-color: $link-blue;
            color: $link-blue;

            &:hover, &:focus {
                border-color: $link-lightblue-2_hover;
                color: $link-lightblue-2_hover !important;
            }

            &:active {
                border-color: $link-darkblue_hover;
                color: $link-darkblue_hover !important;
            }
        }

        &.btn-grey {
            border-color: $dark-grey;
            color: $dark-grey !important;

            &:hover {
                border-color: darken($dark-grey, 10%);
                color: darken($dark-grey, 10%) !important;
            }
        }

        &[disabled] {
            border-color: $btn-bg_disabled !important;
            color: $btn-text_disabled !important;
        }
    }
    &.btn-green {
        border-color: $success-green;
        color: $success-green;

        &:hover {
            color: darken($success-green, 10%);
            border-color: darken($success-green, 10%);
        }
    }
    &.btn-red {
        border-color: $error-red;
        color: $error-red;

        &:hover {
            color: darken($error-red, 10%);
            border-color: darken($error-red, 10%);
        }
    }
    &.fb-blue {
        border-color: $fb-blue;
        color: white;
        background-color: $fb-blue;
        padding: 0;
        width: 100%;
        line-height: 45px;

        &:hover, &:focus {
            border-color: lighten($fb-blue, 10%);
            background-color: lighten($fb-blue, 10%);
        }

        &:active {
            border-color: lighten($fb-blue, 10%);
            background-color: lighten($fb-blue, 10%);
        }
    }

    &.btn-solid {
        color: $white-text-color;

        &.btn-blue {
            background-color: $link-blue;
            border-color: $link-blue;

            &:hover, &:focus {
                background-color: $btn-solid_hover;
                border-color: $btn-solid_hover;
            }

            &:active {
                color: #fff !important;
                background-color: $link-darkblue_hover;
                border-color: $link-darkblue_hover;
            }
        }

        &.btn-grey {
            background-color: $btn-bg_disabled;
            border-color: $btn-bg_disabled;
        }

        &[disabled] {
            background-color: $btn-bg_disabled;
            border-color: $btn-bg_disabled;
            color: $btn-text_disabled !important;
        }
    }
    .inline-btn {
        display: inline-block;
    }

    &.centered {
        margin: auto;
        display: block;
    }

    &.dropdown-toggle {
        font-size: inherit;
        border: none;

        .caret {
            margin-left: 3px;
            margin-top: -2px;
        }
    }

    &.login-btn {
        width: 100%;
    }
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-color: inherit;
}

.caret {
    position: relative;
    // top: -1px;
    font-size: 8px;
}