.steps-indicators {
    text-align: center;
    margin: 27px 0;
    margin-top: 37px;
    
    .step {
        padding: 0;
        position: relative;

        .step-number {
            color: $btn-bg_disabled;
            font-size: 16px;
            font-family: $font-Brandon_Bold;
            // font-weight: 700;
            margin-bottom: 4px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
        }

        .step-dot {
            display: block;
            background-color: $btn-bg_disabled;
            border-radius: 50%;
            height: 14px;
            width: 14px;
            position: absolute;
            top: 29px;
            left: 50%;
            margin-left: -13px;
        }

        .progress {
            background-color: $btn-bg_disabled;
            border-radius: 0;
            height: 8px;
            box-shadow: none;
            margin: 10px 0;
            position: relative;

            .progress-bar {
                background-color: $lightblue;
                box-shadow: none;
                width: 0;
            }
        }

        &:first-child {
            .progress {
                left: 50%;
                width: 50%;
            }

            &.current {
                .progress-bar {
                    width: 0%;
                }
            }
        }

        &:last-child {
            .progress {
                width: 50%;
            }

            &.current {
                .progress-bar {
                    width: 100%;
                }
            }
        }

        &.current {
            .step-number {
                color: $dark-text-color;
            }
            
            .progress-bar {
                width: 50%;
            }

            .step-dot {
                background-color: $lightblue;
            }
        }

        &.done {
            .step-number {
                color: $dark-text-color;
            }

            .progress-bar {
                width: 100%;
            }

            .step-dot {
                background-color: $lightblue;
            }
        }
    }
}