.event {
	.one-to-ten-radio-container {
		float: left;
		margin-right: 10px;
	}
	.img-responsive {
		margin: 0;
	}
	.timeslot {
		font-size: 18px;
	}
	.month-day {
		display: inline-block;
		width: 78px;
	}
	.remove-variant {
		position: relative;
		top: 7px;
		right: 10%;

		&:hover {
			color: $red-clay-border;
		}
	}
	.pane, .screen-share-pane {
		cursor: pointer;
		width: 20%;
		border-radius: 6px;
		position: relative;
	    background-color: #fbfbfb;
	    margin-bottom: 10px;

		&.glyphicon {
			display: block;
		}

		video {
			border-radius: 6px;
			width: 100%;
			border: 1px solid #777;
			margin-bottom: -2px;
		}

		audio {
			width: 100%;
		}

		&.expanded {
			width: 75%;
			position: absolute;
			right: 0;
			top: 0;

			&.pure-audio:before {
				margin-top: 40px;
				font-size: 28px;
			}

			&:before {
				font-size: 60px !important;
				top: 42% !important;
			}
		}

		&.muted {
			border: 2px solid $success-green;
			
			video {
				opacity: 0;
				border: none;
			}

			&:before {
				color: $success-green;
				font-size: 32px;
				position: absolute;
				text-align: center;
				width: 100%;
				top: 40%;
			}
		}

		&.audio-muted {
			border: 2px solid $error-red;
			
			video {
				border: none;
			}

			&:before {
				z-index: 99;
				color: $error-red;
				font-size: 32px;
				position: absolute;
				text-align: center;
				width: 100%;
				top: 40%;
			}
		}
	}
	.duration-title {
		margin-right: 4px;
	}
	.short-input {
		margin: 0 2px 10px 0;
		min-height: 0;
		padding: 0 0 2px 7px !important;
		display: inline-block;
	}
	.duration-input {
		width: 40px;
		margin: 0 2px 10px 0;
		min-height: 0;
		padding: 0 0 0 3px;
		display: inline-block;

		&.rate-input {
			width: 56px;
		}
	}
	.partner-status {
		width: 12px;
		height: 12px;
		border-radius: 100%;
		display: inline-block;
		position: relative;
		// top: 1px;

		&.not-connected {
			background-color: $error-red;
		}
		&.connected {
			background-color: $success-green;
		}
		&.non-member {
			top: 0;
		}
	}
	&.active-event {
		position: relative;
		.container {
			padding: 0;
		}
		.messages-container {
			button {
				display: none;
			}
			cursor: pointer;
			width: 20%;

			.btn {
				transition: none;
			}
			&.minimized {
				* {
					font-size: 8px !important;
				}
				.text-line {
					min-height: 11px;
				}
				.container {
					height: 100px;
				}
				.conversation {
					height: 100px;
					margin-bottom: 10px;
				}
				textarea {
					height: 42px;
				}
				.btn {
					margin-top: 2px !important;
					padding: 3px !important;
					line-height: 12px;
					min-height: 0;
				}
				.message-text {
					padding: 1px 3px !important;
					border-radius: 3px;
				}
			}
			&.expanded {
				width: 75%;
				position: absolute;
				right: 0;
				top: 0;

				button {
					display: inline;
				}
			}
		}
		.icon-btn {
			padding: 0;
			min-width: 52px;
			margin-left: 8px;
			
			.glyphicon, i {
				font-size: 16px;
			}
		}
		.event-timer, .time-block {
			display: block;
			height: 22px;

			.countdown {
				font-size: 16px;
				display: inline-block;
				font-family: $font-Brandon_Bold;
				// font-weight: 700;
				letter-spacing: 1px;
				margin-left: 4px;
			}
		}
		.profile-icon {
			line-height: 20px;
		}
		.profile-attrs {
			margin: 0;
		}
		.user-profile-image {
			margin: 0;
		}
	}
	.profile-name {
		margin-bottom: 4px;

		&.lead {
			display: inline-block;
			color: #444 !important;
			cursor: default;
		}
	}
}
.inline-input {
	width: 80px;
	margin-left: 6px;
	padding: 0 0 0 5px;
	min-height: 0;
	display: inline-block;
	&[disabled] {
		opacity: 0.7;
	}
	&.long {
		width: 102px;
		text-align: center;
		padding: 0;
	}
}
.confirm-text {
	text-align: center;
}
.event-status-message {
	font-family: $font-Raleway;
}
textarea {
	width: 100%;
	resize: none;
	padding: 10px;
	border-radius: 8px;
	height: 200px;
	outline: none;
	font-size: 16px;
	border: 1px solid #777;

	&.form-control.description {
		height: 200px;
	}
}
.conversation {
	overflow: scroll;
	height: 200px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #777;
}
.compose-message {
	height: 80px;
}
.message-text {
	display: inline-block;
	max-width: 75%;
	line-height: 1.3;
	font-size: 14px;
	font-family: $font-Raleway;
	font-family: $font-Open_Sans;
	border: 1px solid $gold-border;
	border-radius: 8px;
	background-color: $gold;
	padding: 10px 9px 9px !important;
}
.message-time {
	font-family: $font-Raleway;
	font-family: $font-Brandon_Bold;
				// font-weight: 700;
	margin-bottom: 4px;
}
.message-row {
	margin: 12px 8px !important;
}
.text-line {
	min-height: 20px;
}
.current-user-msg {
	float: right;
	background-color: $current-user-msg-blue;
	border-color: $current-user-msg-blue-border;
}
.test {
	width: 346px;
}

.btn.btn-default.dropdown-toggle {
	&:active {
		box-shadow: none;
	}	
}
.feedback-text {
	min-height: 200px;
	border: 1px solid #555;
	border-radius: 6px;
	padding: 6px 12px;
	
	&.prompt {
		min-height: 0;
		height: 60px;
	}
}
.feedback-prompt-container {
	height: 89px;
}
.partner-info {
	width: 470px;
}
.text-light {
	color: #777;
}
.event-state {
	font-size: 13px;
}
.lead-email {
	width: 300px;
}
.invite-lead-desc {
	font-size: 18px;
	display: inline-block;
	margin-left: 15px;
	color: #888;
}
.charity-option {
	cursor: pointer;
	border-radius: 6px;
	height: 120px;
	img {
		position: relative;
	}

	&.selected, &.selected:hover {
		border: 1px solid #aaa;

		img {
			// fix jiggle from adding border
			top: -1px;
		}
	}
	&:not(.feedback-modal-charity):hover {
		border: 1px dotted #aaa;

		img {
			top: -1px;
		}

	}

	.viethope {
		margin-top: 3px;
		height: 102px;
	}
	.sierraclub {
		height: 74px;
		margin-top: 22px;
	}
	.sightlife {
		margin-top: 38px;
		height: 41px;
	}
	.technoserve {
		height: 86px;
		margin-top: 11px;
	}
}
.full-screen {
	width: 100% !important;
	z-index: 99;
}
.add-time-btn, .next-event-btn {
	line-height: 20px !important;
	margin-top: 5px;
}
.mins-left-warning {
	z-index: 99;
	width: 100%;
	text-align: center;
	position: fixed;
	color: $error-red;
	font-size: 50px;
	opacity: 0;

	&.shown {
		opacity: 1;
	}
}
.timeslot-select {
	width: 80px;
	height: 34px;
	bottom: 0;
	left: 20px;
	position: absolute !important;
	opacity: 0;
	z-index: -1;
}
.btn.btn-default.btn-outline.in-five-min {
	padding: 5px 10px;
	min-width: 0;
	min-height: 0;
}
.pick-time-slot {
	position: relative;
	bottom: 120px;
}
.next-event {
	width: 900px;
	border-radius: 6px;
	z-index: 999;
	background-color: #fff;
	padding: 20px 0 20px 20px;
	border: 1px solid #777;
	position: absolute;
}
.sorting-arrows {
	position: relative;
	top: 4px;
	display: inline-block;
	
	.glyphicon {
		cursor: pointer;
		display: block;
		font-size: 11px;
		position: relative;

		&:before {
			position: relative;
			display: block;
			height: 6px;
		}

		&:hover {
			color: lighten(#444, 40%);
		}
	}

	.glyphicon-triangle-top {
		z-index: 99;
		margin-bottom: 2px;
	}

	.glyphicon-triangle-bottom {
		padding-bottom: 3px;
	}
}
.feedback-prompts {
	.glyphicon {
		font-size: 12px;
		cursor: pointer;
	}
	.glyphicon-pencil {
		
		&:hover {
			color: lighten(#444, 40%);
		}
	}
	.glyphicon-ok {
		color: $success-green;

		&:hover {
			color: darken($success-green, 10%);
		}
	}
	.glyphicon-remove {
		color: $error-red;

		&:hover {
			color: darken($error-red, 10%);
		}
	}
	.form-control.form-control-small {
		padding-left: 6px;
		min-height: 27px;
		width: 400px;
		display: inline-block;
		height: 12px;
		font-size: 14px;
	}
}
.prompt-type {
	width: 120px;
	position: relative;
	bottom: 2px;
	margin-left: 6px !important;
}
.edit-prompt {
	margin-bottom: -5px;
}
.feedback-prompt {
	height: 22px;
	
	&:hover {
		.edit-icons {
			margin-top: -10px;
			display: inline-block;
		}		
	}	
}
.edit-icons {
	display: none;
}
.session-details {
	.glyphicon {
		display: inline-block;
		font-size: 6px;
		position: relative;
		top: -1px;
	}
}
.feedback-number {
	font-size: 20px;
	color: $darkblue;
}
.save-new-lead {
	height: 48px;
	width: 10%;
	margin: 0;
	padding: 0;
}
.expanded { 
	margin-bottom: 40px;
}