.landing {
    background-image: url("/assets/img_background@2x.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    padding-top: 10vh;
}

.title-container {
}

.page-title {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.page-description {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.login-container {
    margin: 40px auto 0;
    text-align: center;
    width: 330px;

    input {
        display: block;
        outline: none;
        border: none;
        padding: 20px;
        width: 100%;
        font-weight: bold;

        &.email-input {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid #ddd;
        }
        &.password-input {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    .btn {
        margin-top: 15px;
        width: 100%;
        background-color: $purple;
        color: #fff;
    }
}
