.login-page {
    padding: 10vh 15px 20px;
}

.title-container {
}

.page-title {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.page-description {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.login-container {
    margin: 40px auto 0;
    text-align: center;
    max-width: 330px;

    .btn {
        box-shadow: 0 3px 5px rgba(68, 68, 68, 0.3);
        font-size: 13px;
        padding: 18px;
    }

    input {
        display: block;
        outline: none;
        border: none;
        padding: 20px;
        width: 100%;
        font-weight: bold;

        &.email-input {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid #ddd;
        }
        &.password-input {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: 0 3px 6px rgba(66, 66, 66, 0.3);
        }
        &.error {
            color: $error-red;
            -webkit-text-fill-color: $error-red;
        }
        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px white inset, 0 3px 6px rgba(66, 66, 66, 0.3);
        }
    }
}
