.login-page {
    padding: 10vh 15px 20px;
}

.title-container {
}

.page-title {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.page-description {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.login-container {
    margin: 40px auto 0;
    text-align: center;
    max-width: 330px;

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }

    input {
        display: block;
        outline: none;
        border: none;
        padding: 20px;
        width: 100%;
        font-weight: bold;

        &.email-input {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid #ddd;
        }
        &.password-input {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        &.error {
            color: $error-red;
            -webkit-text-fill-color: $error-red;
        }
    }
}
