.logout {
    display: inline-block;
    height: 70px;
    width: 42px;
    background-image: url('assets/btn_logout.svg');
    background-repeat: no-repeat;
    background-size: 72px;
    background-position: -27px;
    cursor: pointer;
}

.messages-list {
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
}

.message-container {
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    font-weight: bold;

    .red-dot {
        background-image: url('/assets/img_dotRed@2x.png');
        float: right;
        height: 9px;
        width: 9px;
        position: relative;
        top: -4px;
        right: -9px;
        background-size: cover;
    }
}

.message-content {
    margin-top: 10px;
    color: #888;
}

.compose-container {
    position: fixed;
    bottom: 40px;
    left: 50%;
}

.compose-btn {
    margin: auto;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    background-image: url('/assets/btn_compose@2x.png');
    background-size: 81px 81px;
    background-position: -10px -5px;
    box-shadow: 0 3px 10px #aaa;
    margin-left: -50%;
    cursor: pointer;
}

.compose-modal .modal-dialog {
    max-width: 330px;
    margin: 30px auto;
    padding: 0 10px;
}

.compose-modal .modal-dialog.new-msg-content-container {
    margin-top: 25vh;
    margin-bottom: 0;
}

.modal .modal-dialog.submit-post-container {
    margin-top: 0;

    .btn {
        text-transform: capitalize;
        font-size: 15px;
    }
}

.new-msg-content {
    border-radius: 8px;
    width: 100%;
    min-height: 240px;
    padding: 18px;
    font-weight: bold;
    resize: none;
    outline: none;
}

.modal-backdrop.in {
    opacity: 0.8;
    background-color: #333;
}
