.registration {
    .basic-form.with-border {
        border: none;
    }
    margin-top: 70px;
    margin-bottom: 50px;

    .step-title {
        text-align: center;
    }

    &.step-1 {
        margin-bottom: 40px;

        .account-type {
            font-weight: normal;
            font-family: $font-Open_Sans;
            text-transform: none;
            display: block;
            border-radius: 10px;
            cursor: pointer;
            padding: 30px 10px;
            text-align: center;
            transition: all .25s ease-out;
            opacity: .6;

            .account-image {
                // display: inline-block;
                // text-align: left;
                // height: 150px;
                // width: 150px;
                // font-size: 24px;
                // z-index: 999;

                &.pitchee {
                    margin-top: 25px;
                    width: 115px;
                }
            }

            .account-title {
                margin: 30px 0;
            }

            .account-desc {
                margin-bottom: 30px;
            }

            &.hover {
                box-shadow: 0px 0px 10px 0px rgba(55, 55, 55, 0.2);
                opacity: 1 !important;

                .account-image {
                    color: $darkblue;
                }
            }
        }
    }

    &.step-3 {
        .step-title {
            margin-bottom: 20px;
        }

        .checkbox {
            a {
                font-family: $font-Open_Sans;
                text-transform: none;
            }
        }

        .social-login {
            margin-bottom: 50px;
        }
        .basic-form {
            padding: 0;
        }
        .terms-of-service {
            font-family: helvetica;
            font-size: 12px;
            span {
                margin-left: 3px;
            }
            a {
                font-family: helvetica;
                text-transform: none;
            }
        }
    }

    &.verify, &.congratulation {
        .step-title {
            margin-bottom: 70px;
        }

        .register-text {
            text-align: center;
            line-height: 30px;
        }
    }
}
