.schedule-base {
	padding: 0;
  max-width: 1090px;
	
	
	.save-schedule {
		margin: auto;	
	}
	.clndr-table {
		margin: auto;
	}
	.monthly-calendar {
		margin-bottom: 40px;
		.tbody {
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
		}
		.day {
			padding: 6px;
			width: 110px;
			height: 110px;
			vertical-align: top;
			background-color: #efefef;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;

			&.today {
				background-color: #fff;
			}

			&.adjacent-month {
				background-color: #ddd;
				color: #888;
			}
		}
		.header-day {
			text-align: center;
		}
		.month {
			color: $darkblue;
			width: 230px;
			display: inline-block;
			margin: 0 40px 25px;
			font-size: 34px;
		}
		.clndr-control-button {
			display: inline-block;
			cursor: pointer;
		}
		.clndr-controls {
			text-align: center;
			font-family: $font-Brandon_Black;
			font-size: 20px;
		}
		.month-events {
			margin: 1px 3px;
			font-size: 11px;
			display: block;
			text-transform: none;
		}
	}

	.schedule-views {
		.schedule-view-link {
			font-size: 16px;
			display: inline-block;
			text-align: center;
			padding: 10px;
		}
	}
	.schedule-body-container {
		margin-bottom: 20px;
		// padding: 40px 20px 30px;
		padding: 0 20px 30px;
		// border: 1px solid #ccc;
		border-top: none;
	}
	.meetings-list {
		width: 100%;

		th {
			color: #555;
			font-weight: normal;
			cursor: pointer;
		}

		.timeslot {
			width: 162px;
			line-height: 22px;
		}

		.name {
			width: 25%;
		}

		.start-time {
			width: 25%;
		}

		.mtg-duration {
			width: 22%;
		}

		.status {
			width: 28%;
		}

		.cta {
			width: 100px;

			.mail-icon {
				position: absolute;
				margin-left: 105px;
				margin-top: 1px;
			}
		}

		.username-th {
			width: 200px;
		}


		tr {
			height: 60px;

			&:first-child {
				height: 15px;
			}
		}

		thead {
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
		}

		.table-spacer {
			padding-top: 10px;
		}

		th {
			padding: 10px 0;
		}
		.meetings-list-empty {
			font-size: 18px;
			color: #444;
			text-align: center;
		}
	}
	.schedule-sections {
		// position: relative;
		// right: 40px;
		background-color: $light-grey-bg;

		ul {
			a {
				cursor: pointer;
	            color: $dark-text-color;
	            font-size: 16px;
	            line-height: 35px;
	            text-decoration: none !important;

	            &.active-primary {
	                color: $lightblue;
	            }

	            &:hover {
	                color: $lightblue;
	            }
	        }
		}
	}
}
.timezone {
    margin: 15px auto 40px;
    text-align: left;
    width: 330px;
}