.search-bar {
    font-size: 16px;
    text-align: center;

    input {
        height: 60px;
        width: 500px;
        padding: 10px 20px;
    }
    button {
        height: 59px;
        background-color: $link_blue;
        color: #fff;
        border: none;
    }
}