.user-profile {
	.back-to-results {
		> i {
			  	vertical-align: top;
  				line-height: 30px;
  				margin-right: 15px;
		}

		> span {
			line-height: 34px;
		}
	}
}
.user-profile-bio {
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 4px;
	height: 360px;
}

.large-profile-image {
	height: 150px;
}

.user-profile-name {
	display: inline-block;
	font-size: 40px;
}
.username-title {
	font-size: 30px;
	font-family: $font-Raleway;
	margin-left: 20px;
	display: inline-block;
	position: relative;
	top: -1px;
}
.next-meeting {
    .fa:before {
        font-size: 13px;
    }
}
.current-lead {
    .fa {
        top: 12px;
        position: relative;
        padding-left: 4px;
        cursor: pointer;

        &.disabled {
    	    cursor: default;
            color: #555 !important;
            &:hover {
	            color: #555 !important;
            }
        }

        &.fa-check {
            color: $success-green;
            &:hover {
	            color: darken($success-green, 15%);
            }
        }

        &.fa-times {
            color: $error-red;
            &:hover {
	            color: darken($error-red, 15%);
            }
        }
    }
}
.rate {
    display: inline-block;
    color: $placeholder-grey;
    float: right;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: -5px;

    .amount {
        color: $dark-text-color;
    }

    .per {
        display: inline-block;
        font-size: 16px;
    }
}